<!--
  Generated template for the OzgecmisDetayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Özgeçmiş Detay</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="ozgecmis">

  <ion-card class="item">
    <ion-item text-wrap class="item">
    <ion-thumbnail item-left>
      <img [src]="ozgecmis.resim.link">
    </ion-thumbnail>

    <h1>{{ozgecmis.isim}}</h1>
    <p>{{ozgecmis.unvan}}</p>
    <p>{{getAge()}} yaşında, {{ozgecmis.yilTecrube}} yıl tecrübe</p>
  </ion-item>
</ion-card>

<ion-row>
  <ion-col>
<!-- <div *ngIf="!checkBasvuru(ilan)"> -->
<button ion-button block icon-left color="primary" (click)="basvur(ilan)">
  <ion-icon name="eye"></ion-icon>
  Okundu</button>
<!-- </div> -->
<!-- <div *ngIf="checkBasvuru(ilan)">
<button ion-button block icon-left color="secondary" (click)="deleteBasvur(ilan)">
  <ion-icon name="ios-arrow-dropleft"></ion-icon>
  Başvuru İptal</button>
</div> -->
</ion-col>
<ion-col>
<!-- <div *ngIf="!checkKaydedilen(ilan)"> -->
<button ion-button block icon-left color="yellow" (click)="kaydet(ilan)">
  <ion-icon name="checkmark-circle"></ion-icon>
  Beğen</button>
<!-- </div> -->
<!-- <div *ngIf="checkKaydedilen(ilan)">
<button ion-button block icon-left color="primary" (click)="deleteKaydet(ilan)">
  <ion-icon name="ios-arrow-dropleft"></ion-icon>
  Kayıt İptal</button>
</div> -->
</ion-col>
<ion-col>
  <button ion-button block icon-left color="secondary" (click)="kaydet(ilan)">
    <ion-icon name="thumbs-up"></ion-icon>
    Çok Beğen</button>
</ion-col>
</ion-row>

<div [class.ozgecmis]="!ozgecmis.enabled">

<ion-card>
  <ion-card-header>
  <b>Kişisel Bilgiler</b>
  <!-- <ion-note item-right> -->
</ion-card-header>

  <ion-item text-wrap>
  <ion-grid no-padding>
  <ion-row><ion-col col-5><h4>Doğum Tarihi:</h4></ion-col> <ion-col><h4>{{ozgecmis.dogumTarihi | date:'dd/MM/yyyy'}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>TC Vatandaşı: </h4></ion-col> <ion-col><h4>{{ozgecmis.tc}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>Askerlik: </h4></ion-col> <ion-col><h4> {{ozgecmis.askerlik}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>Medeni Hal:</h4> </ion-col> <ion-col><h4> {{ozgecmis.medeni}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>Ehliyet Cinsi: </h4></ion-col> <ion-col><h4> {{ozgecmis.ehliyet}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>Eğitim: </h4></ion-col> <ion-col><h4> {{ozgecmis.egitimdurum}}</h4></ion-col> </ion-row>
  <!-- <ion-row><ion-col col-5><h4>Tecrübe: </h4></ion-col> <ion-col><h4> {{ozgecmis.tecrubedurum}}</h4></ion-col> </ion-row> -->
</ion-grid>
</ion-item>

  </ion-card>

<ion-card>
  <ion-card-header>
  <b>İletişim Bilgileri</b>
</ion-card-header>
  <ion-item text-wrap>
    <ion-grid no-padding>
  <ion-row><ion-col col-5><h4>Telefon:</h4></ion-col> <ion-col><h4>{{ozgecmis.telefon}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>Email:</h4></ion-col> <ion-col><h4>{{ozgecmis.email}}</h4></ion-col> </ion-row>
  <ion-row><ion-col col-5><h4>Adres:</h4></ion-col> <ion-col><h4>{{ozgecmis.adres}}</h4></ion-col> </ion-row>
</ion-grid>
</ion-item>
</ion-card>

<ion-card>
  <ion-card-header>
  <b>Tecrübe</b>
</ion-card-header>
<button ion-item *ngFor="let tecrube of (ozgecmis.tecrube | datePipe)">
<h4><b>{{tecrube.firma}}</b> <span ion-text style="float:right;">{{tecrube.sehir}}</span></h4>
<h4>{{tecrube.pozisyon}}</h4>
<h4>{{tecrube.isTanimiKisa}}</h4>
<h4>{{tecrube.giris | date:'MM/yyyy'}} - {{tecrube.cikis | date:'MM/yyyy'}}</h4>
</button>
</ion-card>

<ion-card>
  <ion-card-header>
  <b>Eğitim</b>
</ion-card-header>
<button ion-item *ngFor="let egitim of (ozgecmis.egitim | datePipe)" >
<h4><b>{{egitim.okul}}</b> <span ion-text style="float:right;">{{egitim.sehir}}</span></h4>
<h4>{{egitim.bolum}}</h4>
<h4>{{egitim.cikis | date:'MM/yyyy'}} - {{egitim.derece}}</h4>
</button>
</ion-card>

<ion-card>
  <ion-card-header no-margin>
  <b>Yabancı Dil</b>

</ion-card-header>
<button no-margin ion-item *ngFor="let yabanciDil of ozgecmis.yabanciDil" >
  <h4><b>{{yabanciDil.dil}} : </b>{{yabanciDil.seviye}}</h4>
  <!-- <ion-row><ion-col col-5><h4>{{yabanciDil.dil}} : </h4></ion-col> <ion-col><h4>{{yabanciDil.seviye}}</h4></ion-col> </ion-row> -->

</button>
</ion-card>

<ion-card>
  <ion-card-header no-margin>
  <b>Sertifikalar</b>
</ion-card-header>
<button ion-item *ngFor="let sertifika of (ozgecmis.sertifika | datePipe)" >
  <h4><b>{{sertifika.ad}}</b></h4>
  <h4>{{sertifika.kurum}} - {{sertifika.cikis | date:'MM/yyyy'}}</h4>
</button>
</ion-card>

<ion-card>
  <ion-card-header no-margin>
  <b>Bilgisayar Teknolojileri</b>
  <!-- <ion-note item-right> -->
</ion-card-header>
  <!-- <button ion-button small  icon-left clear (click)="itemTapped($event, ozgecmis, 'bilgisayar')"> -->
  <ion-item no-margin text-wrap>
  <h4>{{ozgecmis.bilgisayar}}</h4>
</ion-item>
<!-- </button> -->
</ion-card>

</div>

</div>

</ion-content>
