page-tum-ilanlar {
  .spinner-container {
      text-align: center;
      padding: 10px;

  }
  .img-circle {
      border-radius: 50%;
  }

  .ilan ion-row, .ilan ion-col, .ilan h2, .ilan h4, .ilan p{
  color: LightGrey;
  }
}
