<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <div *ngIf="user">
      <ion-item no-lines>
        <ion-thumbnail item-start>
        <img class="img-circle" [src]="user.resim">
        </ion-thumbnail>
        <h2 text-wrap>{{username}}</h2>
      </ion-item>
      <button menuClose ion-item no-lines (click)="goHesap()">
        <ion-icon name="build"></ion-icon>
        Hesabım
      </button>
      <button *ngIf="user.role == 'Manager'" menuClose ion-item no-lines (click)="goFirmaHesap()">
        <ion-icon name="key"></ion-icon>
        Firma Hesabı
      </button>
      <ion-item-divider color="light"></ion-item-divider>
    </div>

      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item no-lines (click)="presentLogout('Oturumunuz kapansın mı?')">
        <ion-icon name="log-out"></ion-icon>
        Çıkış
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
