<!--
  Generated template for the OzgecmislerimPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Özgeçmişlerim</ion-title>
    <ion-buttons end>
  <button ion-button icon-only (click)="toggleSearchbar()">
    <ion-icon name="search"></ion-icon>
  </button>
  <button ion-button icon-only (click)="presentFilter($event)">
    <ion-icon name="funnel"></ion-icon>
  </button>
</ion-buttons>
  </ion-navbar>
  <ion-toolbar >
    <ion-segment [(ngModel)]="aktivite" color="dark" (ionChange)="ozgecmisListele()">
      <ion-segment-button value="okunmadı">
        <ion-icon name="eye"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="okundu">
        <ion-icon name="thumbs-down"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="begen">
        <ion-icon name="thumbs-up"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="cokbegen">
        <ion-icon name="thumbs-up"></ion-icon>
        <ion-icon name="thumbs-up"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-searchbar [hidden]="showSearchbar"  [(ngModel)]="searchTerm" [formControl]="searchControl"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
  </div>

  <!-- <div [ngSwitch]="aktivite">
    <div  *ngSwitchCase="'okunmadı'"> -->
  <ion-list text-wrap>
    <button ion-item *ngFor="let ozgecmis of ozgecmisList" (click)="toOzgecmisDetay(ozgecmis.ozgecmis)">
      <ion-thumbnail item-left>
        <img class="img-circle" [src]="ozgecmis.ozgecmis.resim.link">
      </ion-thumbnail>

      <h2>{{ozgecmis.ozgecmis.isim}} {{ozgecmis.ozgecmis.soyisim}}</h2>
      <p>{{ozgecmis.ozgecmis.unvan}}</p>
      <p>{{getAge(ozgecmis.ozgecmis.dogumTarihi)}} yaşında, {{ozgecmis.ozgecmis.yilTecrube}} yıl tecrübe</p>

    </button>
  </ion-list>
<!-- </div> -->

<!-- <div  *ngSwitchCase="'okundu'">
<ion-list text-wrap>
<button ion-item *ngFor="let ozgecmis of ozgecmisList" (click)="toOzgecmisDetay(ozgecmis.ozgecmis)">
  <ion-thumbnail item-left>
    <img [src]="ozgecmis.ozgecmis.resim.link">
  </ion-thumbnail>

  <h2>{{ozgecmis.ozgecmis.isim}} {{ozgecmis.ozgecmis.soyisim}}</h2>
  <p>{{ozgecmis.ozgecmis.unvan}}</p>
  <p>{{getAge(ozgecmis.ozgecmis.dogumTarihi)}} yaşında, {{ozgecmis.ozgecmis.yilTecrube}} yıl tecrübe</p>

</button>
</ion-list>
</div>

<div  *ngSwitchCase="'begen'">
<ion-list text-wrap>
<button ion-item *ngFor="let ozgecmis of ozgecmisList" (click)="toOzgecmisDetay(ozgecmis.ozgecmis)">
  <ion-thumbnail item-left>
    <img [src]="ozgecmis.ozgecmis.resim.link">
  </ion-thumbnail>

  <h2>{{ozgecmis.ozgecmis.isim}} {{ozgecmis.ozgecmis.soyisim}}</h2>
  <p>{{ozgecmis.ozgecmis.unvan}}</p>
  <p>{{getAge(ozgecmis.ozgecmis.dogumTarihi)}} yaşında, {{ozgecmis.ozgecmis.yilTecrube}} yıl tecrübe</p>

</button>
</ion-list>
</div>

<div  *ngSwitchCase="'cokbegen'">
<ion-list text-wrap>
<button ion-item *ngFor="let ozgecmis of ozgecmisList" (click)="toOzgecmisDetay(ozgecmis.ozgecmis)">
  <ion-thumbnail item-left>
    <img [src]="ozgecmis.ozgecmis.resim.link">
  </ion-thumbnail>

  <h2>{{ozgecmis.ozgecmis.isim}} {{ozgecmis.ozgecmis.soyisim}}</h2>
  <p>{{ozgecmis.ozgecmis.unvan}}</p>
  <p>{{getAge(ozgecmis.ozgecmis.dogumTarihi)}} yaşında, {{ozgecmis.ozgecmis.yilTecrube}} yıl tecrübe</p>

</button>
</ion-list>
</div>
</div> -->

</ion-content>
